.w70{
    width: 70%;
}

.w30{
    width: 30%;
}

.left{
    display: flex;
    height: 100%;
}

.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.align-cen{
    align-items: center;
}


.justify-end{
    justify-content: end;
}


