@media (max-width: 700px) {

  #nav-part2 a {
    display: none;
  }
  #page1 {
    /* padding-top: 50vh; */
    padding: 50px 2vw;
    min-height: 30vh;
  }

  #page1 h2 {
    font-size: 4rem;
    line-height: 9vh;
    letter-spacing: -2px;
  }

  #video-container {
    height: 50vh;
    width: 100%;
    z-index: 2;
    margin-top: 1vh;
  }

  #video-container video {
    margin-top: 30px;
    width: 100%;
    height: 100%;
  }

  #page2 {
    height: 250vh;
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
  }

  #Page2-container {
    flex-direction: column;
    gap: 24px;
  }

  #page3 #page3-right {
    padding: 0px 0px;
    width: 100%;
    height: 50%;
    margin-top: 25px;
  }

  #page3 #page3-left {
    width: 100%;
  }

  #page3 #page3-left p {
    font-size: 1.6rem;
    margin-right: 0px;
    line-height: 5vh;
  }
  #product {
    flex-wrap: wrap;
    flex-direction: column;
  }

  #page3 .box {
    width: 100%;
    height: 100%;
  }

  .shop-container {
    width: 80%;
  }
}

@media (max-width: 400px) {
  #page1 {
    min-height: 59vh;
  }

  #page1 h2 {
    margin-top: 1vw;
    font-size: 12vw;

    letter-spacing: -2px;
  }

  #video-container {
    height: 25vh;
    width: 97%;
    z-index: 2;
    margin-top: 1vh;
  }

  #video-container video {
    width: 100%;
    height: 100%;
  }

  #Play {
    height: 15px;
    width: 15px;

    padding: 15px 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    opacity: 1;
    scale: 1;
    transition: all ease-in 0.02s;
  }
  .flex-row {
    flex-direction: column;
  }
  #page3 .box img {
    width: 100%;
    height: 100%;

    margin: 0px 0px;
  }
}

/* 
@media screen and(max-width:400px) {
  #page1{
    background-color: blueviolet;
  }
  
} */
