* {
  margin: 0;
  padding: 0;
}

h2::selection {
  background-color: black;
  color: #fff;
}
@font-face {
  font-family: Futura;
  src: url(../Fonts/Futura-Bold.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-color: #f7f7f7;
  color: black;
}

nav {
  width: 100%;
  padding: 12px;
  /* background-color: aqua; */
  display: flex;
  position: fixed;
  z-index: 99;
  display: flex;
  justify-content: space-between;

  /* align-items: center; */
  align-items: flex-start;
}

header {
  width: 100%;
  display: none;
  /* height: 100vh; */
  background-color: black;
  position: absolute;
  margin: 0 0;
  z-index: 98;
  color: white;
  font-family: Futura;
}

#header-left {
  width: 75%;
  /* background-color: red; */
}

#header-right {
  width: 35%;
  justify-content: end;
  flex-direction: column;
  align-items: end;
  margin-bottom: 35px;
}

#header-left h6 {
  /* display: inline; */
  margin: 30px 0px;
  color: gray;
}
#header-left span {
  /* background-color: red; */
  width: 255px;
  margin-left: 35px;
  height: 100%;
  font-size: 0.8rem;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
}

#header-left span ol li {
  display: block;
}

#header-left {
  flex-direction: column;
  justify-content: end;
  margin-bottom: 35px;
}
#header-left div {
  display: flex;
  padding: 12px 0px;
}

#header-left {
  text-align: left;
}
#header-right a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bolder;
  line-height: 1;
  font-size: 58px;
  margin-right: 35px;

  font-family: Futura;
}

nav a {
  text-decoration: none;
  color: black;
  margin-top: 4px;
  font-family: "";
}

#nav-part1 {
  height: 100%;
  overflow: hidden;
}

#nav-part1 svg {
  display: block;
  width: 100%;
  height: 100%;
}

#nav-part2 {
  display: flex;
  gap: 75px;
  margin-top: 25px;
  /* background-color: black; */
  margin-right: 23px;
}

#nav-icon {
  display: flex;
  gap: 75px;
  background-color: white;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  height: 15px;
  padding: 9px 12px;
  border-bottom-left-radius: 25px;
}
#Play {
  height: 15px;
  width: 15px;
  color: white;
  display: flex;
  padding: 25px 25px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  top: 0;
  z-index: 2;
  opacity: 1;
  transform: translate(-20%, -20%);
  scale: 0;
  transition: all ease-in 0.03s;
}
main {
  /* padding: 0px 12px; */
}

#page1 {
  padding-top: 15vh;
  width: 100%;
  min-height: 100vh;
  position: relative;
}

nav {
  height: 14vh;
  width: 100%;
}

#page1 h2 {
  font-size: 14vw;
  z-index: 2;
  font-family: Futura;
  line-height: 28vh;
  letter-spacing: -2px;
}

#video-container {
  height: 100vh;
  width: 97%;
  z-index: 2;
  margin-top: 1vh;
  position: relative;
  z-index: 2;
}

#video-container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  background-color: #f7f7f7;
  flex-direction: column;
  position: relative;
}

#Page2-container {
  display: flex;
  margin-top: 12px;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding: 0% 1.5%;
}

#page2 .elem {
  width: 100%;
  height: 100%;
  display: flex;

  position: relative;

  /* background-color: red; */
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.shop {
  display: flex;
  transform: translate(-50% -50%);
  position: absolute;
  top: 40%;
  justify-content: center;
  width: 100%;
  /* background-color: red;  */
  overflow: hidden;
  z-index: 1;
}

.shop-container {
  width: 70%;
  height: 50px;
  display: flex;
  gap: 18px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  flex-direction: column;
  background-color: #e5f0d6;
  /* transition: all ease-out 0.5s; */
}

.shop-container:hover {
  height: 100%;
  transition: all ease-out 0.5s;
}

.shop-top {
  display: flex;
  flex-direction: row;
  width: auto;
  height: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 26px 6px;
  overflow: hidden;
}

.shop-top b {
  font-size: 0.8rem;
}
.shop-bottom {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 200px;

  /* background-color: aqua; */
}

.shop-bottom .left,
.right {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.shop-bottom p {
  font-size: 0.8rem;
  height: 20%;
  width: 80%;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 25px;
}

.shop-bottom img {
  width: 100%;
  height: 80%;
  object-fit: cover;
}

/* .shop span {
width: 100%;
} */

#page3 {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  padding: 45px 0px;
  flex-direction: column;
  justify-content: space-between;
}

#page3 #page3-left {
  width: 80%;
  /* background-color: brown; */
  height: 50%;
}

#page3 #page3-left p {
  font-size: 3.2rem;
  margin-right: 4px;
  line-height: 8vh;
  font-family: Futura;
}

#page3 #page3-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 0px 45px;
  width: 30%;
  height: 50%;
  z-index: 1;
}

#page3 #page3-right p {
  font-size: 1rem;
  line-height: 4vh;
  font-family: Arial;
}

#page3 #page3-right span p {
  font-size: 0.8rem;
  font-family: Arial;
}

#page3 #page3-right hr {
  width: 145px;
  height: 0.2px;
}

#product {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 35vh;
  height: 200vh;
  z-index: 1;
}
#page3 .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50%;
  height: 100%;
}

#page3 .box img {
  width: 80%;
  height: 80%;
  object-fit: cover;
  margin: 65px 65px;
}

.box p {
  font-family: Arial;
}

.box > span {
  font-family: Futura;
}

#cursor {
  width: 150px;
  height: 150px;
  opacity: 1;

  border-radius: 50%;
  /* background-color: rgb(147, 147, 147); */
  background-color: rgb(227, 112, 219);
  position: fixed;
  /* z-index: 1; */
  /* mix-blend-mode: difference; */
  transform: translate(-30%, -50%);
  scale: 0;
}
