.flex{
    display: flex;
}

.flex-row{
    flex-direction: row;
}

.flex-col{
    flex-direction: column;
}

.w-full{
    width: 100%;
}

.h-full{
    height: 100vh;
}

.h-half{
    height: 50vh;
}

.flex-hcen{
    justify-content: center;
}


.flex-vcen{
    align-items: center;
}


.first-layer{
    z-index: 2;
    width: 100%;
    position: absolute;
    height: 100%;
}


.second-layer{
    z-index: 1;
    width: 100%;
    position: absolute;
    height: 100%;
}


.hr-div{
    display: flex;
    flex-direction: column;
    width: 97%;
    height: 4vh;
    margin-top: 80px;
    margin-left: 1.5vw;
    align-items: center;
    justify-content: center;
}


.hr-div hr{
    
    width: 100%;
    height: 2px;
    background-color: black;
}


.hr-div div{
    
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}
.hr-div span{
    
   font-size: 0.8rem;
   font-weight:600;
}


.wrap{
    flex-wrap: wrap;
}


.container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
   
}

