@font-face {
    font-family:suisseintl-regular;
    src: url('../Fonts/suisseintl-regular-webxl.woff2');
}


*{
    margin: 0;
    font-family:suisseintl-regular , sans-serif;
    padding: 0;
    box-sizing: border-box;
   
}

html,body{
    width: 100%;
    height: 100%;
}

main{
    background-color: #0F0D0D;
    
    position: relative;
}

.outerbox{
    position: absolute;
    z-index: 100;
    width: 100vw;
    height: 100vh;

    /* background-color: red; */
}


#cursor{
   
    width: 30px;
    height: 30px;
    background-color: #D2A8E5;
    transition: all ease-in 0.01ms;
    z-index: 99;
    pointer-events: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    pointer-events: none;
    left: 0;
    right: 0;
    mix-blend-mode: difference;
    transform: translate(-50% , -50%);
    position: absolute;
    border-radius: 50%;
}
nav{
    width: 100%;
    height: 12vh;
    padding: 0px 5%;
    /* background-color: red; */
    display: flex;
    position: absolute;
    z-index: 99;
    color: #EFEFF2;
    align-items: center;
    justify-content: space-between;
}


#nav-part1{
    width: 10%;
    height: auto;
    color: white;
    display: flex;
    flex-direction: column;
}


#nav-part1 img{
    width: 60px;
height: 80px;
filter: contrast(80%); 



}
  

#nav-part2{
    width: 60%;
    height: auto;
    display: flex;
    justify-content: center;
    
}

.outer-box{
    background-color: rgb(131, 135, 4);
    position: absolute;
    z-index: 101;
    width: 100vw;
    height: 500vh;
}

#nav-part2 ol{
    display: flex;
    gap: 25px;
   
}

#nav-part2 ol li{
display: inline;
color: white;
mix-blend-mode: difference;
font-size: 1.6rem;
 
}
#nav-part3{
    width: 10%;
    height: auto;
    font-size: 2rem;
    display: flex;
    justify-content: end;
    color: #EFEFF2;
}

#circle2{
    
display: none;
   color: red;
   transition: all ease-in 0.5s;
}


#nav-part3:hover #circle2{
    display: block;
}







#page1{
    width: 100vw;
    height: 175vh;
    position: relative;
   padding-bottom: 8vh;
   display: flex;
   color: #EFEFF2;
   flex-direction: column;
   align-items: center;
  
   
}

#page1 div{
  /* background-color: aqua; */
  padding-top: 30vh;


}

#page1 div h2{
 /* font-size: 6vw; */
 font-size: 8rem;
 text-align: center;
line-height: 18vh;   
transition: all ease-in-out 0.5s;
font-weight: 500;
}

#page1 p{
    /* font-size: 6vw; */
    font-size: 1.8rem;
    text-align: center;
    margin-top: 4vh;
     
}


#page1 video{
    height: 30vh;
    width: 30vw;
    margin-top: 6vh;
    position: absolute;
    bottom: 0;
    transition: all ease-in-out 0.1s;
    z-index: 2;

}

#page2{
    width: 100vw;
 position: relative;
 transition: all ease-in 0.1s;
    display: flex;
    flex-direction: column;
  color: white;
  height: 180vh;
    /* background-color: rgb(243, 239, 239); */
}

#page2 #page2__heading  {
    position: absolute;
left: 5%;
    top: 18%;
    font-weight:400;
    display: flex;
    flex-direction: column;
    /* color: black; */
   
    font-size: 3.5rem;
    /* background-color: red; */
    width: 85vw;
    height: auto;
  
}

#page2 #page2__heading p {


 
  width: auto;
    height: auto;
  
}


#page2__Container{
    display: flex;
    justify-content: space-between;
    /* padding: 0 5vw; */
    padding-left: 5vw;

    /* padding-left: 4vw; */
    margin-top: 45vh;
    
    width:100%;
    /* background-color: brown; */
    height: 100%;
}

#page2_left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 40%;
}

#page2_right{
    display: flex;
    margin-left: 8vw;
    flex-direction: column;
    margin-top: 6vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    justify-content: center;
    width: 55%;
    background-image: url('../Image/services__branding@1152.webp');
    background-color: chartreuse;
    height: 99vh;
    /* height: 100%; */
}

#page2_left .elem{
   

    height: 25vh;
    font-size: 1.5rem;
    width: 100%;
    padding: 4vh 0;
    border-top:  1px solid black;
    border-bottom: 1px solid black;
    
}

/* 

Page3

*/

#page3{
   /* min-height: 100vh; */
   height: 200vh;
   display: flex;
   border-top: 2px solid black;
   /* height: 100vh; */
   width: 100vw;
}

#page3-part1{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    background-color: aqua;
position: relative;
}

#page3-part2{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: rgb(9, 213, 19);

}

#page3-part1 h2{
  font-size: 6vw;
  margin: 10vh;
    
}



.video-wrapper{
    width: fit-content;
    /* margin-left: 8vw; */
    height: 50%;
    position: absolute;
    background-color: red;

}
.video-wrapper h3{
    font-size: 2.5rem;
   
}

.video-wrapper p{
    font-size: 1.5rem;
   
}


.img-wrapper{
    width: 55%;
    margin-left: 8vw;
    height: 50%;
    background-color: red;
}

.img-wrapper h3{
    font-size: 2.5rem;
   
}

.img-wrapper p{
    font-size: 1.5rem;
   
}
.img-wrapper img{

  object-fit: cover;
  width: 100%;
  height: 80%;
}



/* Util class */
.absolute{
    position: absolute;
}

.left0{
    left:0,
}

.right0{
   right: 0;
}